spring:
  datasource:
    url: jdbc:postgresql://dominos-booking-db.flycast:5432/dominos_booking_backend?sslmode=disable
    username: dominos_booking_backend
    password: ${DB_PASSWORD:booking}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${PORT:8080}

logging:
  level:
    com.studio.booking: INFO
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
